/* Estilos clásicos
.cards{
    width:400px;
    margin: 10px  auto;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
}
.cards .card{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    background-color: lightskyblue;
}
.cards .card h3{
    font-size: 24px;
    font-weight: bold;
}
.cards .card a{
    padding: 10px;
    background-color: green;
} */
/* BEM */
.cards{
    width:400px;
    margin: 10px  auto;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
}
.cards__card{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 5px;
    background-color: lightskyblue;
}
.card__title{
    font-size: 24px;
    font-weight: bold;
}
.card__link{
    padding: 10px;
    background-color: green;
    color: #fff;
    text-decoration: none;
}
.card__link--red{
    background-color: red;
}